{% extends 'profile.html' %}
{% block content %}
<div class="mb-auto d-flex flex-column align-items-center justify-content-center w-100 overflow-auto">

  <h1>Add a new blog</h1>
  <h6 class="mb-4">If you have a difficulty you can ask about it here.</h6>

  <form method="post" class="mb-4 info-card pass-gen w-75 py-4 px-5">
      <input type="text" class="form-control rounded-pill input-field py-2 px-3 text-white mb-4" id="question" placeholder="Enter your question" name="title">
      <textarea class="form-control pill rounded rounded-4 input-field py-2 px-3 text-white mb-4" id="description" rows="3" placeholder="Enter a description" name="description"></textarea>
      <button type="submit" class="border-0 rounded-pill py-2 view-password-btn card-link text-decoration-none" style="min-width: 25%; background: #0ef; color: white; padding: 10px !important;">Submit</button>
    </form>

</div>
      
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"></script>

{% endblock %}

