{% extends 'profile.html' %}
{% block content %}

<div class="info-card mb-auto d-flex flex-column align-items-center justify-content-around w-75 p-5">
    <div class="card-body d-flex flex-column align-items-center justify-content-around text-center">
        <h1 class="header mb-4">Phishing attack</h1>
        <h5>Phishing is a type of cyber attack that involves tricking individuals into providing sensitive information such as passwords, credit card details, or other personal information.<br> Attackers usually send fake emails or messages that appear to be from a trustworthy source, such as a bank or a popular online service, and ask users to provide sensitive information by clicking on a link or opening an attachment.</h5>
    
        <a href="{{url_for('phishing')}}"><button class="info-button btn w-100 p-3 mt-4 rounded-pill" >Start Simulation</button></a>
    </div>
</div>
    
{% endblock %}