{% extends 'example.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}
    <!--Home-->

    <section class="home" id="home">
        <div class="home-content">
            <h3>Hi, we are</h3>
            <h1>Data Exotica</h1>
            <h3>And we provide <span class="multiple-text"></span></h3>
            <p>This platform is built for people who are looking forward to a safer Internet experience!</p>
            <!--<div class="social-media">
                <a href="#"><i class='bx bx-bot'></i></a>
            </div>-->
            <a href="#services" class="btn">Get Started</a>
        </div>
        <div class="home-img">
            <img src="static/images/home.png" width="500px">
        </div>
    </section>

    <!--About-->
    
    <section class="about" id="about">
        <div class="about-img">
            <img src="static/images/about.png" alt="">
        </div>

        <div class="about-content">
            <h2 class="heading"> About <span>Us</span></h2>
            <h3>What can we do for you?</h3>
            <p>Data Exotica provides advanced data security solutions for all types of user data. Our password manager, security tools, and phishing prevention lectures ensure that users can keep their information safe from potential threats. We offer affordable and easy-to-use solutions for everyone, no matter their technical expertise or budget. Choose Data Exotica for top-notch data security and peace of mind</p>
            <!--<a href="#" class="btn">Read More</a>-->
        </div>
    </section>

    <!--Services-->

    <section class="services" id="services">
        <h2 class="heading">Our <span>Services</span></h2>

        <div class="services-container">
            <div class="services-box">
                <i class='bx bx-link'></i>
                <h3>Link Checkup</h3>
                <p>Check the safety of URLs by scanning them for malware, phishing, and other security threats.</p>
                <a href="{{url_for('link_checker')}}" class="btn">Read more</a>
            </div>

            <div class="services-box">
                <i class='bx bx-server'></i>
                <h3>DNS Lookup</h3>
                <p>Find information about a domain name's IP address, mail server, and other DNS records.</p>
                <a href="{{url_for('dns_lookup')}}" class="btn">Read more</a>
            </div>

            <div class="services-box">
                <i class='bx bx-envelope' ></i>
                <h3>Email Blacklist</h3>
                <p>Check whether an email address is on a blacklist and has a history of being associated with spam or other unwanted emails.</p>
                <a href="{{url_for('blacklist')}}" class="btn">Read more</a>
            </div>

            <div class="services-box">
                <i class='bx bx-lock-alt' ></i>
                <h3>Password manager</h3>
                <p>Store and manage your passwords securely in one place, making it easy to access and use them when needed.</p>
                <a href="{{url_for('manager')}}" class="btn">Read more</a>
            </div>

            <div class="services-box">
                <i class='bx bxs-key'></i>
                <h3>Password Generator</h3>
                <p>Generate strong, unique passwords that are difficult for hackers to crack, helping you protect your online accounts from unauthorized access.</p>
                <a href="{{url_for('password_generator')}}" class="btn">Read more</a>
            </div>

            <div class="services-box">
                <i class='bx bx-check-shield'></i>
                <h3>Password Checker</h3>
                <p>Check the strength and security of your existing passwords, identifying any weak or compromised passwords that may put your accounts at risk.</p>
                <a href="{{url_for('password_checker')}}" class="btn">Read more</a>
            </div>

            <div class="services-box">
                <i class='bx bx-notepad'></i>
                <h3>Phishing Lecture</h3>
                <p>Access educational materials on phishing, a common cyber attack where scammers try to trick you into revealing sensitive information, to learn how to recognize and avoid falling victim to phishing attempts.</p>
                <a href="{{url_for('lecture_1')}}" class="btn">Read more</a>
            </div>

        </div>
    </section>

    <!--Portfolio-->

    <section class="portfolio" id="portfolio">
        <h2 class="heading">Top<span> 5 </span>Cybersecurity News</h2>

        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="static/images/Number1.png" alt="">
                <div class="portfolio-layer">
                    <h4>Number <span>1</span></h4>
                    <b><b><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, ab!</p></b></b>
                    <a href="#"><i class='bx bx-link-external' ></i></a>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="static/images/Number2.png" alt="">
                <div class="portfolio-layer">
                    <h4>Number <span>2</span></h4>
                    <b><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, ab!</p></b>
                    <a href="#"><i class='bx bx-link-external' ></i></a>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="static/images/Number3.png" alt="">
                <div class="portfolio-layer">
                    <h4>Number <span>3</span></h4>
                    <b><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, ab!</p></b>
                    <a href="#"><i class='bx bx-link-external' ></i></a>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="static/images/Number4.png" alt="">
                <div class="portfolio-layer">
                    <h4>Number <span>4</span></h4>
                    <b><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, ab!</p></b>
                    <a href="#"><i class='bx bx-link-external' ></i></a>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="static/images/Number5.png" alt="">
                <div class="portfolio-layer">
                    <h4>Number <span>5</span></h4>
                    <b><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, ab!</p></b>
                    <a href="#"><i class='bx bx-link-external' ></i></a>
                </div>
            </div>
        </div>
    </section>

    
    <!--Footer-->

    <footer class="footer">
        <div class="footer-text">
            <p>This is the project of team "Exotic" for the ninth edition of Hack Tues.</p>
        </div>

        <div class="footer-iconTop">
            <a href="#home">
                <i class='bx bx-up-arrow-alt' ></i>
            </a>
        </div>
    </footer>

{% endblock %}