{% extends 'profile.html' %}
{% block content %}
<style>
	.neonText {
		color: #fff;
		text-shadow: 
		0 0 7px #fff,
		0 0 10px #fff,
		0 0 21px #fff,
		0 0 42px #f09,
		0 0 82px #f09,
		0 0 92px #f09,
		0 0 102px #f09,
		0 0 151px #f09;
		line-height: 1;
		font-weight: 400;
		animation: glow 0.11s ease-in-out infinite alternate-reverse;
	}

	
	@keyframes glow {
		100% {
			text-shadow: 
			0 0 4px #fff,
		    0 0 11px #fff,
		    0 0 19px #fff,
		    0 0 40px #0ef,
		    0 0 80px #0ef,
		    0 0 90px #0ef,
		    0 0 100px #0ef,
		    0 0 150px #0ef,
		    0 0 151px #0ef;
		}
		0% {
			text-shadow: 
			0 0 4px #fff,
		    0 0 10px #fff,
		    0 0 18px #fff,
		    0 0 38px #0ef,
		    0 0 73px #0ef,
		    0 0 80px #0ef,
		    0 0 94px #0ef,
		    0 0 140px #0ef;
		}
	}
	.info-button {
		position: relative;
		background: #444;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.5em;
		letter-spacing: 0.1em;
		padding: 10px 30px;
		transition: 0.5s;

	}
	.info-button:hover {
		letter-spacing: 0.25em;
		
	}

</style>
<div class="mx-auto">
<h1 style="font-size: 30px;">Password Generator</h1>
<h6 style="font-size: 20px;">Click on the password to copy it to your clipboard</h6>
<div class="pass d-flex justify-content-between mb-5 mt-5">
	<h1 class="neonText" id="password">
		{{password}}
	</h1>
</div>

<form action="" method="post" class="mb-auto info-card pass-gen w-75 py-4 px-5">
		<input type="number" class="form-control rounded-pill input-field py-2 px-3" id="quantity" name="length" min="8" max="100" placeholder="Length">
		
		<div class="px-3 mt-2">
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="lowercase">
				<label class="form-check-label" for="defaultCheck1">
				Uppercase letters (A - Z)
				</label>
			</div>

			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="uppercase">
				<label class="form-check-label" for="defaultCheck1">
				Lowercase letters (a - z)
			</div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="numbers">
				<label class="form-check-label" for="defaultCheck1">
					Digits (0 - 9)
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="symbols">
				<label class="form-check-label" for="defaultCheck1">
					~`! @#$%^&*()_-+={[}]|\:;"'<,>.?/
				</label>
			</div>
			<br>
			<button type="submit" id="button" class="info-button rounded-pill mt-3" style="font-size: 20px;">Generate Password</button>
			<span style="color: red;text-align: center;">{{message}} </span>
			</form>
		</div>
			<script>
			document.getElementById("password").addEventListener("click", function() {
			  var password = document.getElementById("password").innerHTML;
			  var tempInput = document.createElement("input");
			  tempInput.style = "position: absolute; left: -1000px; top: -1000px";
			  tempInput.value = password;
			  document.body.appendChild(tempInput);
			  tempInput.select();
			  document.execCommand("copy");
			  document.body.removeChild(tempInput);
			});
			</script>
			<!-- Bootstrap JavaScript -->
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/XvoPhYwE6hyJ0p4" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3R"></script>
		{% endblock %}