{% extends 'profile.html' %}
{% block content %}
<style>
  .progress {
    height: 30px;
    position: relative;
  }
  li {
    list-style: none;
  }
  .progress-bar {
    transition: width 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .progress-bar-striped {
  background-color: linear-gradient(to right, #dc3545 0%, #28a745 100%);
  }
  h3 {
    margin: 5px;
  }
  .scroll {
    width: 500px;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
  }
  .scroll li {
    margin: 20px 0;
    padding: 10px;
  }
  .bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0 , 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
  }
  .bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .bar span{
  height: 20px;
  float: left;
  background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(0, 255, 0, 1) 100%);
  }
  .psw {
    width: {{width}};
    animation: psw 3s;
}
  
@keyframes psw {
    0% {
      width: 0%;
    }
    100% {
      width: {{width}};
    }
  }
</style>

<h1 class="text-center mb-4 header">Password Strength Checker</h1>
<form method="post" class="d-flex align-items-center justify-content-center w-75 mb-4">
      
  <div class="input-group linksubmit">
    <input type="text" class="form-control input-field col-10 rounded-pill rounded-end" id="password" name="password" placeholder="Password" required>
    <button type="submit" class="btn submit-button col-2 rounded-pill rounded-start">Check</button>
  </div>
  
  <div class="password-strength">
    <div class="password-strength-bar password-strength-weak"></div>
  </div>
  
</form>


  

<div class="scroll info-card mb-auto w-75">
  <h4 class="header">Your password strength: </h3>
  <span class="bar" ><span class="psw"></span></span>
  <div style="display: flex;justify-content: space-between;">
    <p>{{message}}</p>
    <p>{{emoji}}</p>
  </div>
</div>

    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-2Djx1CDpl7QzNfB25V7LJp+tKjGckrMstcX/6N0EBxj+1zVQrvlTRuP7VJEdpSPFzfmyoCvjjY9XkVh1AB6U5w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}